.gadget-course-list{
    display: flex; flex: 1 1 0; flex-wrap: wrap; padding: 1rem;
}

.gadget{
    margin: 1rem; border: none; background-color: #fafafa;
    .card-title{display: flex; justify-content: space-between;}

    .content{
        display: grid; grid-template-columns: calc(33.3% - .5rem) calc(33.3% - 1rem) calc(33.3% - .5rem); grid-gap: 1rem; 
        .item{
            border: 1px solid #efefef; background-color: #ffffff; padding: .5rem;
        }
    }
}
.gadget-groups-overview{
    @extend .gadget;

    .content{
        .item{
            .charts{
                display: flex; justify-content: space-around;
                .item-chart{height: 200px; width: 175px;}
            }
            .item-desc{text-align: center; font-weight: 500}
        }
    }
}

.gadget-student-tracking{
    @extend .gadget;
    .content{
        .item{
            .visual-data{
                display: grid; grid-template-columns: 45% 11% 11% 11% 11% 11%; margin-bottom: .2rem; padding: .5rem;
            }
        }
    }
}

/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (min-width: 868px) and (max-width: 1215px){
    .gadget{
        .content{
            grid-template-columns: auto auto;
        }
    }
}

/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (min-width: 500px) and (max-width: 867px){
    .gadget{
        .content{
            grid-template-columns: auto;
        }
    }
}

/**********************************************************
/ Smartphone layout
/*********************************************************/
@media screen and (max-width: 499px){
    .gadget{
        .content{
            grid-template-columns: auto;
        }
    }

    .gadget-groups-overview{
        .content{
            .item{
                .charts{
                    display: flex; align-items: center; flex-direction: column;
                }
            }
        }
    }

    .gadget-student-tracking{
        .content{
            .item{
                .visual-data{
                    grid-template-columns: auto auto auto auto auto auto; grid-template-rows: auto auto;
                }

                .visual-data div:first-child{grid-column-start: 1; grid-column-end: 7;}
            }
        }
    }
}

